*.pyc
*.pyo
*$py.class
.*.sw[a-z]
*.patch
*.orig
*.rej
*#
*~
MANIFEST
_trial_temp*
dist
build/
.build
*.egg-info
.project
.pydevproject
.settings
*/build/
.coverage
coverage-html
_build
.tox/
*.egg
.eggs/
sandbox
.idea/
celerybeat-schedule
*.sqlite3
staticfiles/
media/
venv
celerybeat.pid
celerybeat-schedule
docker/.litecoin
docker/.postgres-data
